<!DOCTYPE html>
<html lang="en" class="dark h-full">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Easily display one or several orbs" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/internal/assets/app-672e76a4.css">
	<link rel="stylesheet" href="/internal/assets/pages/layouts/Standard.svelte-679f8a11.css">
	<link rel="modulepreload" href="/internal/start-1649623f.js">
	<link rel="modulepreload" href="/internal/chunks/vendor-9384f7a1.js">
	<link rel="modulepreload" href="/internal/pages/__layout.svelte-cffcee64.js">
	<link rel="modulepreload" href="/internal/chunks/stores-16282042.js">
	<link rel="modulepreload" href="/internal/pages/layouts/Standard.svelte-fe72ce0f.js">
	<link rel="modulepreload" href="/internal/pages/layouts/Empty.svelte-e7be5d60.js">
	</head>
	<body class="text-slate-200 dark:bg-slate-900 dark:text-slate-200 h-full">
		


<div class="flex flex-col h-full"><header class="flex justify-center">

	<nav class="flex flex-row justify-center z-10 text-xs xs:text-base svelte-b2dhis"><div class="hidden xs:block"><svg viewBox="0 0 2 3" aria-hidden="true" class="svelte-b2dhis"><path class="fill-slate-300/70 dark:fill-slate-500/70" d="M0,0 L1,2 C1.5,3 1.5,3 2,3 L2,0 Z"></path></svg></div>
		<ul class="bg-slate-300/70 dark:bg-slate-500/70 h-10 xs:h-12 svelte-b2dhis"><li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 svelte-b2dhis"><a class="hover:text-slate-900 dark:hover:text-slate-200 svelte-b2dhis" href="https://www.theorbs.io/" target="_blank">The Orbs.io</a></li>
			<li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 active svelte-b2dhis"><a href="https://twitter.com/ukraine/status/1497594592438497282" target="_blank" class="svelte-b2dhis"><img src="/love-ukraine.png" class="w-10 h-9 mt-3" alt="Heart Shaped Ukrainian Flag 'Stop the war.'"></a></li>
			<li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 svelte-b2dhis"><a class="hover:text-slate-900 dark:hover:text-slate-200 svelte-b2dhis" href="https://opensea.io/collection/theorbsbybt" target="_blank">Opensea.io</a></li></ul>
		<div class="hidden xs:block"><svg viewBox="0 0 2 3" aria-hidden="true" class="svelte-b2dhis"><path class="fill-slate-300/70 dark:fill-slate-500/70" d="M0,0 L0,3 C0.5,3 0.5,3 1,2 L2,0 Z"></path></svg></div></nav>

	
</header>

	<main class="flex-grow flex-shrink-0"><div class="flex flex-col h-full"><header class="flex justify-center">

	<nav class="flex flex-row justify-center z-10 text-xs xs:text-base svelte-b2dhis"><div class="hidden xs:block"><svg viewBox="0 0 2 3" aria-hidden="true" class="svelte-b2dhis"><path class="fill-slate-300/70 dark:fill-slate-500/70" d="M0,0 L1,2 C1.5,3 1.5,3 2,3 L2,0 Z"></path></svg></div>
		<ul class="bg-slate-300/70 dark:bg-slate-500/70 h-10 xs:h-12 svelte-b2dhis"><li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 svelte-b2dhis"><a class="hover:text-slate-900 dark:hover:text-slate-200 svelte-b2dhis" href="https://www.theorbs.io/" target="_blank">The Orbs.io</a></li>
			<li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 active svelte-b2dhis"><a href="https://twitter.com/ukraine/status/1497594592438497282" target="_blank" class="svelte-b2dhis"><img src="/love-ukraine.png" class="w-10 h-9 mt-3" alt="Heart Shaped Ukrainian Flag 'Stop the war.'"></a></li>
			<li class="active:before:border-t-slate-900 dark:active:before:border-t-slate-200 svelte-b2dhis"><a class="hover:text-slate-900 dark:hover:text-slate-200 svelte-b2dhis" href="https://opensea.io/collection/theorbsbybt" target="_blank">Opensea.io</a></li></ul>
		<div class="hidden xs:block"><svg viewBox="0 0 2 3" aria-hidden="true" class="svelte-b2dhis"><path class="fill-slate-300/70 dark:fill-slate-500/70" d="M0,0 L0,3 C0.5,3 0.5,3 1,2 L2,0 Z"></path></svg></div></nav>

	
</header>

	<main class="flex-grow flex-shrink-0"></main>

	<footer class="flex-shrink-0 p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-slate-800 text-center"><span class="text-sm text-slate-500 sm:text-center dark:text-slate-400">© 2022 <a href="https://myorb.art" class="hover:underline">MyOrb.Art</a>. All Rights Reserved.
		</span>
		<ul class="flex flex-wrap items-center justify-center mt-3 text-sm text-slate-500 dark:text-slate-400 sm:mt-0 w-full sm:w-auto"><li><a class="mr-4 flex items-center justify-center w-full h-full" href="https://github.com/Micka33/myorb-art"><svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true"><path class="fill-slate-200" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></a></li>
				</ul></footer></div></main>

	<footer class="flex-shrink-0 p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-slate-800 text-center"><span class="text-sm text-slate-500 sm:text-center dark:text-slate-400">© 2022 <a href="https://myorb.art" class="hover:underline">MyOrb.Art</a>. All Rights Reserved.
		</span>
		<ul class="flex flex-wrap items-center justify-center mt-3 text-sm text-slate-500 dark:text-slate-400 sm:mt-0 w-full sm:w-auto"><li><a class="mr-4 flex items-center justify-center w-full h-full" href="https://github.com/Micka33/myorb-art"><svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true"><path class="fill-slate-200" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></a></li>
				</ul></footer></div>


		<script type="module" data-hydrate="nk2k3z">
		import { start } from "/internal/start-1649623f.js";
		start({
			target: document.querySelector('[data-hydrate="nk2k3z"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/internal/pages/__layout.svelte-cffcee64.js"),
						import("/internal/pages/layouts/Standard.svelte-fe72ce0f.js")
				],
				params: {}
			}
		});
	</script>
	</body>
</html>
